<div class="orders-list-directive-view container">
   <div class="orders-container">
       <div class="row">
           <div ng-repeat="order in orders" class="col-20 col">
               <div class="order-box container">
                   <button ng-click="select(order)" class="row">
                       <span class="">
                            Name: {{order.name}}
                       </span>
                       <span class="">
                            Totoal: {{order.total}}
                       </span>

                       <span class="">
                            Status: {{order['status']}}
                       </span>
                   </button>
               </div>
           </div>
       </div>
   </div>
</div>